@{
    ViewData["Title"] = "Nosotros";
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}

<section id="portfolio">
    <ul class="tabs">
      <div class="container wow fadeInUp">
        <div class="row">
          <div style="text-align: center;">
            <h2>Información acerca de Nosotros</h2>
          </div>
          <div class="col-md-12 text-center">
            <a class="portfolio-item" style="background-image: url(Images/local.png);" align="middle"> 
              <div class="details" >
                <span style="font-size: 19px;" >Somos ------ </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </ul>
</section><br>
<div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div id="carouselExampleControls" class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 420px;">
          <div class="card-body">
            <h2 class="card-title">Misión:</h2>
            <p style="font-size: 19px;"> Ofrecer productos de alta calidad incentivando el consumo de textilería peruana, a través de diseños innovadores, creativos, hechos con dedicación y acorde a la accesibilidad del mercado.</p>
          </div>
        </div>
        </div>
        <div class="col-sm-4">
         <div id="carouselExampleControls" class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 420px;">
          <div class="card-body">
            <h2 class="card-title">Visión:</h2>
            <p style="font-size: 17px;"> Posicionarnos en el mercado como una empresa exitosa y socialmente responsable con gran reconocimiento a nivel nacional gracias a nuestros productos, calidad, precios y servicio, siempre respetando los derechos y el trabajo tanto de nuestros colaboradores como de nuestros clientes, para asi seguir creciendo y poder ofrecer nuestros productos en todo el interior del país.</p>
          </div>
        </div>
       </div>
       <div class="col-sm-4">
         <div id="carouselExampleControls" class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 420px;">
          <div class="card-body">
            <h2 class="card-title">Valores:</h2>
            <p>* Integridad</p>
            <p>* Respeto</p>
            <p>* Puntualidad</p>
          </div>
      </div>
    </div>
    <br>
    <h1>Encuentranos en:</h1>
    <div>
      <center><p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.8031816595494!2d-77.0657099!3d-11.988116599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105ce504ecd1101%3A0x2e2a897bba0636c3!2sJr.%20C.%20A.%20Salaverry%203897%2C%20Lima%2015301!5e0!3m2!1ses-419!2spe!4v1666665002299!5m2!1ses-419!2spe" width="1000" height="300" style="border-radius: 20px; padding: 1rem 1rem;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p></center>
    </div>