@model PIZZERIA.Models.Pago
@{
    ViewData["Title"] = "Realiza tu Pago";
}

<h1>@ViewData["Title"]</h1>
<form asp-controller="Proforma" asp-action="Index">
  <button type="submit" class="btn btn-primary"><-- Retrocede</button>
</form>
    <div class="container">
        <div class="row">
          <div class="col-sm-15 mt-5">
          <div class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 300px;">
           <form asp-controller="Pago" asp-action="Pagar">
              <div class="form-group row">
                <input type="hidden" asp-for="UserID"/>
                <div class="col-sm-2">
                  <label asp-for="NombreTarjeta" class="control-label"></label>
                </div>
                <div class="col-sm-2">
                  <input asp-for="NombreTarjeta" class="form-control" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label asp-for="NumeroTarjeta" class="control-label"></label>
                </div>
                <div class="col-sm-2">
                  <input asp-for="NumeroTarjeta" class="form-control" data-inputmask="'mask': '9999-9999-9999-9999'" />
                </div>
              </div>              
              <div class="form-group row">
                <div class="col-sm-2">
                  <label asp-for="DueDateYYMM" class="control-label"></label>
                </div>
                <div class="col-sm-2">
                  <input asp-for="DueDateYYMM" class="form-control" data-inputmask="'mask': '99/99', 'placeholder': 'yy/mm'" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label asp-for="Cvv" class="control-label"></label>
                </div>
                <div class="col-sm-2">
                  <input asp-for="Cvv" class="form-control" data-inputmask="'mask': '999', 'placeholder': '999'" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label asp-for="MontoTotal" class="control-label"></label>
                </div>
                <div class="col-sm-2">
                  <input asp-for="MontoTotal" class="form-control" data-thousands="," data-decimal="." />
                </div>
              </div>  
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                  <button type="submit" class="btn btn-primary">Pagar</button> 
                </div>
              </div>
            </form>
            </div>
            <h1>@ViewData["Message"]</h1>
          </div>
        </div>
    </div>