@model PIZZERIA.Models.Producto

@{
    ViewData["Title"] = "Añade un nuevo Producto al Catalogo";
}

<h1>@ViewData["Title"]</h1>
<a class="btn btn-outline-danger" asp-action="Index">Regresar</a>
<br><br>
      <div class="row">
      <div class="col-sm-7">
        <div  class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 330px;">
          <div class="card-body">
            <form asp-action="Create" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="col-md-6">
    <label class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="col-md-6">
    <label class="control-label">Precio</label>
                <input asp-for="Precio" type="number" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
  </div>
  <div class="col-12">
    <label class="control-label">Descripción</label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
  </div>
  <div class="col-12">
    <label class="control-label">Imagen</label>
                <input asp-for="ImageName" type="file" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
  </div>
  <div class="col-md-4">
    <label class="control-label">Porcentaje de Descuento</label>
                <input asp-for="PorcentajeDescuento" type="number" class="form-control" />
                <span asp-validation-for="PorcentajeDescuento" class="text-danger"></span>
  </div>
  <div class="col-md-2">
    <label class="control-label">Status</label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
  </div>
  <div class="col-md-6">
        <input type="submit" value="Crear" class="btn btn-primary" />
   </div>
</form>
          </div>
        </div>
      </div> 
      </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
