@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus reiciendis autem recusandae repellendus beatae nihil, alias a, consectetur itaque error, veniam voluptates vel quia ipsa nam tenetur earum aliquid maiores.</p>
</div>
