@{
    ViewData["Title"] = "Home Page";
}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="height:100%">
        <div class="carousel-item active">
            <img src="/Images/carrusel1.jpg" class="d-block w-100" alt="prueba 1" style="border-radius:20px;" width="100%" height="100%">
        </div>
        <div class="carousel-item">
            <img src="/Images/local.png" class="d-block w-100" alt="prueba 2" style="border-radius:20px;" width="100%" height="100%">
        </div>
        <div class="carousel-item">
            <img src="/Images/moto1.jpg" class="d-block w-100" alt="prueba 2" style="border-radius:20px;" width="100%" height="100%">
        </div>
        <div class="carousel-item">
            <img src="/Images/fiestaspatrias.jpg" class="d-block w-100" alt="prueba 2" style="border-radius:20px;" width="100%" height="100%">
        </div>
        <div class="carousel-item">
            <img src="/Images/promo290.jpg" class="d-block w-100" alt="prueba 2" style="border-radius:20px;" width="100%" height="100%">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Atrás</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>
<div id="infoMenu" class="container">
    <div class="row">
        <div class="col-md-6" id="mensajeIndex">
            <h2 style="text-align:center;">Pizzería - La cuarentena</h2>
            <blockquote></blockquote>
            <P>Puedes encontrar las mejores opciones Pizzas, lasaña, pastas y alitas 😋🍕<br>
            <blockquote></blockquote>
            Pedidos al: 📲 961808408<br>
            <blockquote></blockquote>
            Horario de Atención: 6 p.m.- 11 p.m.<br>
            <blockquote></blockquote>
            Ubicación: Jr. Carlos Salaverry 3897 Los Olivos<br>
            </P>
        </div>
            <div class="col-md-3" id="contentPrincipal">
                <img id="contentIndex1" src="/Images/ubicacion.png" alt="prueba 4" class="img-responsive" width="100%" height="100%">
            </div>
            <div class="col-md-3" id="contentPrincipal">
                <img id="contentIndex2" src="/Images/local.png" alt="prueba 5" class="img-responsive" width="100%" height="100%">
            </div>
      </div>
</div>