@model PIZZERIA.Models.Proforma

@{
    ViewData["Title"] = "Edita la cantidad de tu Pedido";
}

<h1>@ViewData["Title"]</h1><br>
<div class="row">
    <div class="col-lg-4 mx-auto">
        <div class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 150px;">
            <form asp-controller="Proforma" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserID" />
            <input type="hidden" asp-for="Precio" />
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary"/>
                <input type="submit" asp-action="Index" value="Regresar" class="btn btn-outline-danger"/>
            </div>
            </form> 
        </div>
    </div>
</div>    
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}